*{
  margin:0;
  padding:0;
  width:100;
}
body{
  background: black;

}
.text{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
   display:flex;  
}
.text span{
  text align:center;
  font-weight:800;
  font-size:30px;
  color: #777;
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  animation:reveal 2.5s linear forward;
  opacity:0;
}
@keyframes reveal{
  100%{
    opacity: 1;
    filter: blue(0px);
}
